
.g2b2-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b2-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b2-P3-play:checked ~ .g2b2-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b2-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b2-P3-pause:checked ~ .g2b2-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b2-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b2-Y3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b2-Y3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b2-Y3-play:checked ~ .g2b2-Y3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b2-Y3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b2-Y3-pause:checked ~ .g2b2-Y3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b2-Y3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b3-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b3-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b3-P3-play:checked ~ .g2b3-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b3-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b3-P3-pause:checked ~ .g2b3-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b3-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b4-Y3a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3a-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b4-Y3a-play:checked ~ .g2b4-Y3a {
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3a-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b4-Y3a-pause:checked ~ .g2b4-Y3a {
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3a-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b4-Y3b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3b-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b4-Y3b-play:checked ~ .g2b4-Y3b {
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3b-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b4-Y3b-pause:checked ~ .g2b4-Y3b {
    background-image: url("../../images/frontsphere.svg"), url("g2b4-Y3b-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b5-Y3b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3b-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b5-Y3b-play:checked ~ .g2b5-Y3b {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3b-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b5-Y3b-pause:checked ~ .g2b5-Y3b {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3b-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b5-Y3a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3a-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b5-Y3a-play:checked ~ .g2b5-Y3a {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3a-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b5-Y3a-pause:checked ~ .g2b5-Y3a {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-Y3a-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b5-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b5-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b5-P3-play:checked ~ .g2b5-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b5-P3-pause:checked ~ .g2b5-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b5-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b6-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b6-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b6-P3-play:checked ~ .g2b6-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b6-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b6-P3-pause:checked ~ .g2b6-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b6-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b7-Y3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b7-Y3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b7-Y3-play:checked ~ .g2b7-Y3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b7-Y3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b7-Y3-pause:checked ~ .g2b7-Y3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b7-Y3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b8-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b8-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b8-P3-play:checked ~ .g2b8-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b8-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b8-P3-pause:checked ~ .g2b8-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b8-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b9-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b9-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b9-P3-play:checked ~ .g2b9-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b9-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b9-P3-pause:checked ~ .g2b9-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b9-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b12-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b12-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b12-P3-play:checked ~ .g2b12-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b12-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b12-P3-pause:checked ~ .g2b12-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b12-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

.g2b14-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b14-P3-thumb.png"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b14-P3-play:checked ~ .g2b14-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b14-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
}
#g2b14-P3-pause:checked ~ .g2b14-P3 {
    background-image: url("../../images/frontsphere.svg"), url("g2b14-P3-spr.png"), url("../../images/backsphere.svg");
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state: paused;
}

