/* GENERAL */
 
html,body,h1,h2,h3,h4,h5,h6 {font-family: Helvetica, sans-serif;}

body {
  font-size: large;
  background-color: #f2f2f2;
}

.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 45px;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #cccccc;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a, .sidebar .copyright {
  display: block;
  font-size: large;
  text-decoration: none;
}

.sidebar a {
  color: black;
  padding: 12px 6px;
  border: 4px outset #e6e6e6;
}

.sidebar .copyright {
  color: gray;
  padding: 16px;
  position: absolute;
  bottom: 0px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4d4d4d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #737373;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 5px 36px;
  height: 100%;
}

/* On screens that are less than ???px wide, make the sidebar into a topbar */
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .sidebar .copyright {
    position: relative;
    float: right;
   }  
}

/* On screens that are less than ???px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar .copyright {
    text-align: center;
    float: none;}  
}
 
/* Gallery */ 
div.gallery {
/*  border: 1px solid #ccc; */
}

div.gallery:hover {
/*    border: 1px solid #777; */
transform: scale(1.00); 
}

div.gallery img {
  width: 100%;
  height: auto;
}

/* image description */ 
div.desc {
  padding: 15px;
  text-align: center;
}
div.descAni {
  padding: 15px;
  text-align: center;
}
.descAni:after { 
  content: "\00a0\00a0\00a0\00a0\25B6";
  color: green;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 16px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 2000px) {
.responsive {
    width: 33.33333%;
    margin: 16px 0;
  }
}

@media only screen and (max-width: 1400px) {
.responsive {
    width: 49.99999%;
    margin: 16px 0;
  }
}

@media only screen and (max-width: 700px) {
.responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}


/* preload some images */ 
body:after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; 
   content:
   url("fbms/genus_zero/g0b3-spr.gif")
   url("fbms/connected_boundary/g1b1-spr.gif") 
   url("fbms/connected_boundary/g2b1-spr.gif") 
   url("fbms/connected_boundary/g3b1-spr.gif") 
   url("fbms/three_boundaries/g2b3KL-spr.gif") 
   url("fbms/three_boundaries/g2b3CSW-spr.gif") 
;}

/* animation types */ 
@keyframes C2F90 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 101.1235955056%, 0px 0px; }	
}
@keyframes C3F60 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 101.694915254237288%, 0px 0px; }	
}
@keyframes C4F45 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 102.272727272727272727%, 0px 0px; }	
}
@keyframes C5F36 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 102.857142857142857%, 0px 0px; }	
}
@keyframes C6F30 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 103.4482758620689655%, 0px 0px; }	
}
@keyframes C7F25 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 104.1666666%, 0px 0px; }	
} 
@keyframes C8F22 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 104.7619047619047619%, 0px 0px; }	
} 
@keyframes C9F20 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 105.2631578947368421%, 0px 0px; }	
} 
@keyframes C10F18 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 105.88235294117647%, 0px 0px; }	
} 
@keyframes C11F16 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 106.6666666666666666%, 0px 0px; }	
} 
@keyframes C12F15 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 107.1429%, 0px 0px; }	
} 
@keyframes C16F11 {
  from { background-position: 0px 0px, 0px 0px, 0px 0px; }
  to { background-position: 0px 0px, 0px 110%, 0px 0px; }	
} 
@keyframes C1F180x {
  from { background-position-x: 0px, 0px, 0px; }
  to { background-position-x: 0px, 200%, 0px; }	
} 
@keyframes C1F180y {
  from { background-position-y: 0px, 0px, 0px; }
  to { background-position-y: 0px, 101.1235955056%, 0px; }	
} 