/* GENERAL */
 
html,body,h1,h2,h3,h4,h5,h6 {font-family: Helvetica, sans-serif;}

body {
  background-color: #f2f2f2;
}

.footer {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 45px;
}

 /* The side navigation menu */
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #cccccc;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a, .sidebar .copyright {
  display: block;
  font-size: large;
  text-decoration: none;
}

.sidebar a {
  color: black;
  padding: 12px 6px;
  border: 4px outset #e6e6e6;
}

.sidebar .copyright {
  color: gray;
  padding: 16px;
  position: absolute;
  bottom: 0px;
}

/* Active/current link */
.sidebar a.active {
  background-color: #4d4d4d;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #737373;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 200px;
  padding: 5px 36px;
  height: 100%;
}

/* On screens that are less than ???px wide, make the sidebar into a topbar */
@media screen and (max-width: 1000px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
  .sidebar .copyright {
    position: relative;
    float: right;
   }  
}

/* On screens that are less than ???px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 700px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
  .sidebar .copyright {
    text-align: center;
    float: none;}  
}
 


/* Gallery */ 


div.gallery {
/*  border: 1px solid #ccc; */
}

div.gallery:hover {
/*    border: 1px solid #777; */
transform: scale(1.025);
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 16px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 2000px) {
  .responsive {
    width: 33.33333%;
    margin: 16px 0;
  }
}

@media only screen and (max-width: 1400px) {
  .responsive {
    width: 49.99999%;
    margin: 16px 0;
  }
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}


.tex sub, .latex sub, .latex sup {
  text-transform: uppercase;
}

.tex sub, .latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.tex, .latex, .tex sub, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}



