.g0b3 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C3F60 2s steps(60) infinite;
    animation-play-state:paused;
}
.g0b3:hover {
    animation-play-state:running;
}
.g0b4-C4 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b4-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g0b4-C4:hover {
    animation-play-state:running;
}
.g0b4-C3 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b4-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C3F60 2s steps(60) infinite;
    animation-play-state:paused;
}
.g0b4-C3:hover {
    animation-play-state:running;
}
.g0b5-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b5-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b5-C5:hover {
    animation-play-state:running;
}
.g0b5-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b5-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g0b5-C4:hover {
    animation-play-state:running;
}
.g0b5-C3 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b5-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C3F60 2s steps(60) infinite;
    animation-play-state:paused;
}
.g0b5-C3:hover {
    animation-play-state:running;
}
.g0b6-C6 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b6-C6-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C6F30 1.0s steps(30) infinite;
    animation-play-state:paused;
}
.g0b6-C6:hover {
    animation-play-state:running;
}
.g0b6-C5 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b6-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b6-C5:hover {
    animation-play-state:running;
}
.g0b6-C3 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b6-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C3F60 2s steps(60) infinite;
    animation-play-state:paused;
}
.g0b6-C3:hover {
    animation-play-state:running;
}
.g0b6-C4 {
	width: 100%;
    padding-top: 100%; 
  	background-image: url("../../images/frontsphere.svg"), url("g0b6-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
 	animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g0b6-C4:hover {
    animation-play-state:running;
}
.g0b7-C2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C2-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C2F90 3.0s steps(90) infinite;
    animation-play-state:paused;
}
.g0b7-C2:hover {
    animation-play-state:running;
}
.g0b7-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g0b7-C3:hover {
    animation-play-state:running;
}
.g0b7-C3a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C3a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g0b7-C3a:hover {
    animation-play-state:running;
}
.g0b7-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b7-C5:hover {
    animation-play-state:running;
}
.g0b7-C6 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C6-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C6F30 1.0s steps(30) infinite;
    animation-play-state:paused;
}
.g0b7-C6:hover {
    animation-play-state:running;
}
.g0b7-C7 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b7-C7-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C7F25 0.9s steps(25) infinite;
    animation-play-state:paused;
}
.g0b7-C7:hover {
    animation-play-state:running;
}
.g0b8-C2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C2-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C2F90 3.0s steps(90) infinite;
    animation-play-state:paused;
}
.g0b8-C2:hover {
    animation-play-state:running;
}
.g0b8-C2-Gyrobifastigium {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C2-Gyrobifastigium-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C2F90 3.0s steps(90) infinite;
    animation-play-state:paused;
}
.g0b8-C2-Gyrobifastigium:hover {
    animation-play-state:running;
}
.g0b8-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g0b8-C3:hover {
    animation-play-state:running;
}
.g0b8-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g0b8-C4:hover {
    animation-play-state:running;
}
.g0b8-C4a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C4a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g0b8-C4a:hover {
    animation-play-state:running;
}
.g0b8-C6 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C6-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C6F30 1.0s steps(30) infinite;
    animation-play-state:paused;
}
.g0b8-C6:hover {
    animation-play-state:running;
}
.g0b8-C7 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C7-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C7F25 0.9s steps(25) infinite;
    animation-play-state:paused;
}
.g0b8-C7:hover {
    animation-play-state:running;
}
.g0b8-C8 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b8-C8-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C8F22 0.8s steps(22) infinite;
    animation-play-state:paused;
}
.g0b8-C8:hover {
    animation-play-state:running;
}
.g0b12-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b12-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b12-C5:hover {
    animation-play-state:running;
}
.g0b20-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b20-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b20-C5:hover {
    animation-play-state:running;
}
.g0b32-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b32-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g0b32-C5:hover {
    animation-play-state:running;
}
.g0b18-C16 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b18-C16-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C16F11 0.4s steps(11) infinite;
    animation-play-state:paused;
}
.g0b18-C16:hover {
    animation-play-state:running;
}
.g0b64-C16 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b64-C16-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C16F11 0.4s steps(11) infinite;
    animation-play-state:paused;
}
.g0b64-C16:hover {
    animation-play-state:running;
}
.g0b61 {
    width: 100% ;
    padding-top:  100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b61-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 200%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C1F180y 3.0s steps(90) infinite, 
	           C1F180x 6.0s steps(2) infinite;
    animation-play-state:paused;
}
.g0b61:hover {
    animation-play-state:running;
}