.g3b4-C3 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g3b4-C3-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g3b4-C3-play:checked ~ .g3b4-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g3b4-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g3b4-C3-pause:checked ~ .g3b4-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g3b4-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}
 
.g3b6-C3 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g3b6-C3-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g3b6-C3-play:checked ~ .g3b6-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g3b6-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g3b6-C3-pause:checked ~ .g3b6-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g3b6-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g8b4-C3a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g8b4-C3a-play:checked ~ .g8b4-C3a {
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3a-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g8b4-C3a-pause:checked ~ .g8b4-C3a {
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3a-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g8b4-C3b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g8b4-C3b-play:checked ~ .g8b4-C3b {
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3b-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g8b4-C3b-pause:checked ~ .g8b4-C3b {
	background-image: url("../../images/frontsphere.svg"), url("g8b4-C3b-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g9b4-C3a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g9b4-C3a-play:checked ~ .g9b4-C3a {
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3a-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g9b4-C3a-pause:checked ~ .g9b4-C3a {
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3a-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g9b4-C3b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g9b4-C3b-play:checked ~ .g9b4-C3b {
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3b-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g9b4-C3b-pause:checked ~ .g9b4-C3b {
	background-image: url("../../images/frontsphere.svg"), url("g9b4-C3b-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g12b10-C3 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g12b10-C3-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g12b10-C3-play:checked ~ .g12b10-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g12b10-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g12b10-C3-pause:checked ~ .g12b10-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g12b10-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g15b8-C3 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g15b8-C3-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g15b8-C3-play:checked ~ .g15b8-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g15b8-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g15b8-C3-pause:checked ~ .g15b8-C3 {
	background-image: url("../../images/frontsphere.svg"), url("g15b8-C3-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}




.g7b6-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g7b6-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g7b6-C4-play:checked ~ .g7b6-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g7b6-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g7b6-C4-pause:checked ~ .g7b6-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g7b6-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g12b6-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g12b6-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g12b6-C4-play:checked ~ .g12b6-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g12b6-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g12b6-C4-pause:checked ~ .g12b6-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g12b6-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g18b6-C4a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g18b6-C4a-play:checked ~ .g18b6-C4a {
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4a-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g18b6-C4a-pause:checked ~ .g18b6-C4a {
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4a-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g18b6-C4b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g18b6-C4b-play:checked ~ .g18b6-C4b {
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4b-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g18b6-C4b-pause:checked ~ .g18b6-C4b {
	background-image: url("../../images/frontsphere.svg"), url("g18b6-C4b-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g19b6-C4a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g19b6-C4a-play:checked ~ .g19b6-C4a {
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4a-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g19b6-C4a-pause:checked ~ .g19b6-C4a {
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4a-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g19b6-C4b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g19b6-C4b-play:checked ~ .g19b6-C4b {
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4b-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g19b6-C4b-pause:checked ~ .g19b6-C4b {
	background-image: url("../../images/frontsphere.svg"), url("g19b6-C4b-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g23b12-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g23b12-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g23b12-C4-play:checked ~ .g23b12-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g23b12-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g23b12-C4-pause:checked ~ .g23b12-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g23b12-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g5b8-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g5b8-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g5b8-C4-play:checked ~ .g5b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g5b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g5b8-C4-pause:checked ~ .g5b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g5b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g12b8-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g12b8-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g12b8-C4-play:checked ~ .g12b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g12b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g12b8-C4-pause:checked ~ .g12b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g12b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g11b14-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g11b14-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g11b14-C4-play:checked ~ .g11b14-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g11b14-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g11b14-C4-pause:checked ~ .g11b14-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g11b14-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g17b8-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g17b8-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g17b8-C4-play:checked ~ .g17b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g17b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g17b8-C4-pause:checked ~ .g17b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g17b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g24b8-C4 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g24b8-C4-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g24b8-C4-play:checked ~ .g24b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g24b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g24b8-C4-pause:checked ~ .g24b8-C4 {
	background-image: url("../../images/frontsphere.svg"), url("g24b8-C4-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

 
 
 
.g19b12-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g19b12-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g19b12-C5-play:checked ~ .g19b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g19b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g19b12-C5-pause:checked ~ .g19b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g19b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 
 
.g30b12-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g30b12-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g30b12-C5-play:checked ~ .g30b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g30b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g30b12-C5-pause:checked ~ .g30b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g30b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 
 
.g48b12-C5a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g48b12-C5a-play:checked ~ .g48b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g48b12-C5a-pause:checked ~ .g48b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}

.g48b12-C5b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g48b12-C5b-play:checked ~ .g48b12-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g48b12-C5b-pause:checked ~ .g48b12-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g48b12-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 
 
.g49b12-C5a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g49b12-C5a-play:checked ~ .g49b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g49b12-C5a-pause:checked ~ .g49b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 
 
.g49b12-C5b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g49b12-C5b-play:checked ~ .g49b12-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g49b12-C5b-pause:checked ~ .g49b12-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g49b12-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 
 
.g67b12-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g67b12-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g67b12-C5-play:checked ~ .g67b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g67b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g67b12-C5-pause:checked ~ .g67b12-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g67b12-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 

.g77b12-C5a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g77b12-C5a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g77b12-C5a-play:checked ~ .g77b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g77b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g77b12-C5a-pause:checked ~ .g77b12-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g77b12-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}
 
 
 
 
 
.g11b20-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g11b20-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g11b20-C5-play:checked ~ .g11b20-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g11b20-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g11b20-C5-pause:checked ~ .g11b20-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g11b20-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
} 

.g30b20-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g30b20-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g30b20-C5-play:checked ~ .g30b20-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g30b20-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g30b20-C5-pause:checked ~ .g30b20-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g30b20-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}

.g41b20-C5a {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5a-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g41b20-C5a-play:checked ~ .g41b20-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g41b20-C5a-pause:checked ~ .g41b20-C5a {
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5a-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}

.g41b20-C5b {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5b-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g41b20-C5b-play:checked ~ .g41b20-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g41b20-C5b-pause:checked ~ .g41b20-C5b {
	background-image: url("../../images/frontsphere.svg"), url("g41b20-C5b-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}

.g60b32-C5 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g60b32-C5-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g60b32-C5-play:checked ~ .g60b32-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g60b32-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g60b32-C5-pause:checked ~ .g60b32-C5 {
	background-image: url("../../images/frontsphere.svg"), url("g60b32-C5-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}
 
 
 
 

