.g3b4-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g3b4-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g3b4-C3:hover {
    animation-play-state:running;
}
.g3b6-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g3b6-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g3b6-C3:hover {
    animation-play-state:running;
}
.g6b4-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g6b4-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g6b4-C3:hover {
    animation-play-state:running;
}
.g9b4-C3a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g9b4-C3a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g9b4-C3a:hover {
    animation-play-state:running;
}
.g9b4-C3b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g9b4-C3b-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g9b4-C3b:hover {
    animation-play-state:running;
}
.g15b8-C3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g15b8-C3-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C3F60 2.0s steps(60) infinite;
    animation-play-state:paused;
}
.g15b8-C3:hover {
    animation-play-state:running;
}



.g7b6-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g7b6-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g7b6-C4:hover {
    animation-play-state:running;
}
.g12b6-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g12b6-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g12b6-C4:hover {
    animation-play-state:running;
}
.g19b6-C4a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g19b6-C4a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g19b6-C4a:hover {
    animation-play-state:running;
}
.g19b6-C4b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g19b6-C4b-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g19b6-C4b:hover {
    animation-play-state:running;
}
.g5b8-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g5b8-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g5b8-C4:hover {
    animation-play-state:running;
}
.g12b8-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g12b8-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g12b8-C4:hover {
    animation-play-state:running;
}
.g17b8-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g17b8-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g17b8-C4:hover {
    animation-play-state:running;
}
.g7b18-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g7b18-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g7b18-C4:hover {
    animation-play-state:running;
}
.g23b12-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g23b12-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g23b12-C4:hover {
    animation-play-state:running;
}



.g19b12-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g19b12-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g19b12-C5:hover {
    animation-play-state:running;
}
.g30b12-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g30b12-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g30b12-C5:hover {
    animation-play-state:running;
}
.g49b12-C5a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g49b12-C5a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g49b12-C5a:hover {
    animation-play-state:running;
}
.g49b12-C5b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g49b12-C5b-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g49b12-C5b:hover {
    animation-play-state:running;
}
.g11b20-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g11b20-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g11b20-C5:hover {
    animation-play-state:running;
}
.g30b20-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g30b20-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g30b20-C5:hover {
    animation-play-state:running;
}
.g41b20-C5a {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g41b20-C5a-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g41b20-C5a:hover {
    animation-play-state:running;
}
.g41b20-C5b {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g41b20-C5b-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g41b20-C5b:hover {
    animation-play-state:running;
}
.g11b14-C4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g11b14-C4-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C4F45 1.5s steps(45) infinite;
    animation-play-state:paused;
}
.g11b14-C4:hover {
    animation-play-state:running;
}
.g60b32-C5 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g60b32-C5-spr.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    animation: C5F36 1.2s steps(36) infinite;
    animation-play-state:paused;
}
.g60b32-C5:hover {
    animation-play-state:running;
}