.g1b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g1b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g1b1-play:checked ~ .g1b1 {
	background-image: url("../../images/frontsphere.svg"), url("g1b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
}
#g1b1-pause:checked ~ .g1b1 {
	background-image: url("../../images/frontsphere.svg"), url("g1b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
	animation-play-state:paused;
}

.g2b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g2b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b1-play:checked ~ .g2b1 {
	background-image: url("../../images/frontsphere.svg"), url("g2b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
}
#g2b1-pause:checked ~ .g2b1 {
	background-image: url("../../images/frontsphere.svg"), url("g2b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C3F60 2.0s steps(60) infinite;
	animation-play-state:paused;
}

.g3b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g3b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g3b1-play:checked ~ .g3b1 {
	background-image: url("../../images/frontsphere.svg"), url("g3b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
}
#g3b1-pause:checked ~ .g3b1 {
	background-image: url("../../images/frontsphere.svg"), url("g3b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C4F45 1.5s steps(45) infinite;
	animation-play-state:paused;
}

.g4b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g4b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g4b1-play:checked ~ .g4b1 {
	background-image: url("../../images/frontsphere.svg"), url("g4b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
}
#g4b1-pause:checked ~ .g4b1 {
	background-image: url("../../images/frontsphere.svg"), url("g4b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C5F36 1.2s steps(36) infinite;
	animation-play-state:paused;
}

.g5b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g5b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g5b1-play:checked ~ .g5b1 {
	background-image: url("../../images/frontsphere.svg"), url("g5b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C6F30 1.0s steps(30) infinite;
}
#g5b1-pause:checked ~ .g5b1 {
	background-image: url("../../images/frontsphere.svg"), url("g5b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C6F30 1.0s steps(30) infinite;
	animation-play-state:paused;
}

.g6b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g6b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g6b1-play:checked ~ .g6b1 {
	background-image: url("../../images/frontsphere.svg"), url("g6b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C7F25 0.9s steps(25) infinite;
}
#g6b1-pause:checked ~ .g6b1 {
	background-image: url("../../images/frontsphere.svg"), url("g6b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C7F25 0.9s steps(25) infinite;
	animation-play-state:paused;
}

.g7b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g7b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g7b1-play:checked ~ .g7b1 {
	background-image: url("../../images/frontsphere.svg"), url("g7b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C8F22 0.8s steps(22) infinite;
}
#g7b1-pause:checked ~ .g7b1 {
	background-image: url("../../images/frontsphere.svg"), url("g7b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C8F22 0.8s steps(22) infinite;
	animation-play-state:paused;
}

.g8b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g8b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g8b1-play:checked ~ .g8b1 {
	background-image: url("../../images/frontsphere.svg"), url("g8b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C9F20 0.7s steps(20) infinite;
}
#g8b1-pause:checked ~ .g8b1 {
	background-image: url("../../images/frontsphere.svg"), url("g8b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C9F20 0.7s steps(20) infinite;
	animation-play-state:paused;
}

.g9b1 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g9b1-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g9b1-play:checked ~ .g9b1 {
	background-image: url("../../images/frontsphere.svg"), url("g9b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C10F18 0.6s steps(18) infinite;
}
#g9b1-pause:checked ~ .g9b1 {
	background-image: url("../../images/frontsphere.svg"), url("g9b1-spr.gif"), url("../../images/backsphere.svg");
	animation: C10F18 0.6s steps(18) infinite;
	animation-play-state:paused;
}


