.g0b3-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b3-P3-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.g1b2-Y2 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g1b2-Y2-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g1b2-Y2-play:checked ~ .g1b2-Y2 {
	background-image: url("../../images/frontsphere.svg"), url("g1b2-Y2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
}
#g1b2-Y2-pause:checked ~ .g1b2-Y2 {
	background-image: url("../../images/frontsphere.svg"), url("g1b2-Y2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
	animation-play-state:paused;
}

.g2b1-Y2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b1-Y2-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.g2b2-P3 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b2-P3-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.g0b4-P4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g0b4-P4-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.g1b3-Y2 {
	width: 100%;
	padding-top: 100%;
	background-image: url("../../images/frontsphere.svg"), url("g1b3-Y2-thumb.gif"), url("../../images/backsphere.svg");
	background-size: 100%, 100%, 100%;
	background-repeat: no-repeat, no-repeat, no-repeat;
}
#g1b3-Y2-play:checked ~ .g1b3-Y2 {
	background-image: url("../../images/frontsphere.svg"), url("g1b3-Y2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
}
#g1b3-Y2-pause:checked ~ .g1b3-Y2 {
	background-image: url("../../images/frontsphere.svg"), url("g1b3-Y2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
	animation-play-state:paused;
} 

.g2b2-P2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b2-P2-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
#g2b2-P2-play:checked ~ .g2b2-P2 {
	background-image: url("../../images/frontsphere.svg"), url("g2b2-P2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
}
#g2b2-P2-pause:checked ~ .g2b2-P2 {
	background-image: url("../../images/frontsphere.svg"), url("g2b2-P2-spr.gif"), url("../../images/backsphere.svg");
	animation: C2F90 3.0s steps(90) infinite;
	animation-play-state:paused;
}


.g2b2-Y2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g2b2-Y2-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}

.g3b1-Y2 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g3b1-Y2-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
}
 
.g3b2-P4 {
    width: 100%;
    padding-top: 100%;
    background-image: url("../../images/frontsphere.svg"), url("g3b2-P4-thumb.gif"), url("../../images/backsphere.svg");
    background-size: 100%, 100%, 100%;
    background-repeat: no-repeat, no-repeat, no-repeat;
} 
 


 

 